* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #333;
}
a {
    text-decoration: none;
    color: inherit;
}
.container  {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}
img {
	width: 100%;
	height: auto;
}
section {
	padding: 120px 0 110px;
}
@media screen and (max-width: 900px) {
	section {
	padding: 80px 0 75px;
	}
}
@media screen and (max-width: 600px) {
	section {
	padding: 40px 0 30px;
	}
}
/* HEADER */
header {
    height: 100vh;
    background-color: #eff0f2;
    padding: 65px 0 0;
}
.header-section {
    background: url('img/juice-glass.png') no-repeat right 8% bottom 14%;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    border: 6px solid #170f1c;
    padding: 10px;
}
.header-logo span {
    color: #77efe5;
    font-size: 20px;
    font-weight: 800;
}
.header-nav-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.nav-btn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 30px;
    background-color: #606061;
    border: 3px solid #606061;
    border-radius: 2px;
}
.nav-btn::before,.nav-btn::after  {
    content: '';
    position: absolute;
    height: 3px;
    width: 28px;
    background-color: #606061;
    border: 1px solid #606061;
    border-radius: 2px;
}
.nav-btn::before {
    top: -12px;
    left: -3px;
}
.nav-btn::after {
    top: 7px;
    left: -3px;
}
.header-nav {
    display: none;;
}

.header-title-section {
    width: 100%;
    height: calc(100vh - 117px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 145px;
    font-weight: 700;
    line-height: 52px;
    color: #505050;
}
.header-title span {
    background-color: #b2f2ee;
    padding: 0 10px;;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 45px;
    border: 2px solid #777879;
    border-radius: 2px;
    letter-spacing: 2.16px;
}
.btn:hover {
    color: ivory;
    background-color: #333;
}
@media screen and (max-width: 900px) {
	header {
	    padding-top: 30px;
	}
	.header-title {
		font-size: 35px;
	}
	.btn {
		font-size: 16px;
	}
	
}
@media screen and (max-width: 600px) {
	header {
		height: 80vh;
	}
	.header-title {
		font-size: 25px;
		line-height: 35px;
	}
	.btn {
		font-size: 12px;
	}
	.header-section {
   		background-image: none;
	}
	.header-title-section {
   		justify-content: flex-start;
	}
	.header-title {
		margin-top: 60px;
	    margin-bottom: 70px;
	}
}
/*@media (orientation: landscape) {
	header {
		height: 100vh;
	}
	.header-section {
   		background-image: none;
	}
	.header-title-section {
   		justify-content: flex-start;
	}
	.header-title {
		margin-top: 50px;
	    margin-bottom: 20px;
	}
}*/
/*Section Title*/
.section-header {
	width: 100%;
	text-align: center;
	margin-bottom: 135px;
}
.section-title {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 10px;
	color: #000;
	text-transform: uppercase;
}
.section-subtitle {
	font-size: 18px;
	font-weight: 500;
	color: inherit;
	text-transform: uppercase;
}
@media screen and (max-width: 900px) {
	.section-header {
		margin-bottom: 60px;
	}
	.section-title {
		font-size: 29px;
	}
	.section-subtitle {
		font-size: 14px;
	}
}
@media screen and (max-width: 600px) {
	.section-header {
		margin-bottom: 30px;
	}
	.section-title {
		font-size: 24px;
	}
	.section-subtitle {
		font-size: 12px;
	}
}
/* ABOUT_US */
.about-section {
	background-color: #fafafa;
}
.about-us {
    padding: 0 30px;
}
.about-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.about-content aside {
	width: 500px;
}
.img-section {
	position: relative;
	width: 80%;
	margin: 0 auto;
}
.img-section::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	z-index: -1;
	width: 110%;
	height: 80%;
	background-color: #ececec;
}

.button-block {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.button-block button {
	width: 10px;
	height: 10px;
	border: 1px solid #d0d0d0;
	background-color: #d0d0d0;
	outline: none;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer;
}
.button-block button.active {
	background-color: #71f6eb;
	border-color: #71f6eb;
}
.button-block button:active {
	background-color: #61c6bb;
}
/*About Text*/
.about-column {
	width: 48%;
	font-size: 16px;
	line-height: 28px;
}
.about-text>* {
	margin-bottom: 22px;
}
.about-text h4 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
@media screen and (max-width: 900px) {
	.about-content {
		display: block;
	}
	.about-content aside {
		margin: 0 auto 50px;
	}
	.about-column {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.about-text {
		width: 47%;
	}
	.about-text>* {
		margin-bottom: 0;
	}
	.about-text h4 {
		text-align: center;
	}
	.about-text p {
		text-indent: 25px;
	}
}
@media screen and (max-width: 600px) {
	.about-us {
		padding: 0;
	}
	.about-content aside {
		width: initial;
	}
	.about-column {
		display: block;
		line-height: 20px;
	}
	.about-text {
		width: 98%;
		margin-bottom: 20px;
	}
	.about-text h4 {
		font-size: 18px; 
		margin-bottom: 10px;
	}
}
/*FEATURED WORKS*/
.works-galery {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.work-item {
	width: 32%;
	margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
	.work-item {
		width: 49%;
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 600px) {
	.works-galery {	
		justify-content: space-around;
	}
	.work-item {
		width: 80%;
	}
}

/*SERVICES SECTION*/
.services {
	background-color: #f5f5f5;
}
/*.servises-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: #dadbdc;

}
.service-item {
	margin-bottom: 14px;
}
.service-item-bg {
	padding: 150px 80px 40px 60px;
	background-color: rgba(20,20,20,0.6);
	height: 100%;
}
.service-item:nth-child(2n) {
	width: 41.5%;
}
.service-item:nth-child(2n+1) {
	width: 57%;
}
.service-item:nth-child(2n+1) .service-item-bg {
	padding-right: 190px;
}
.service-item:nth-child(5) {
	width: 41.5%;
	background: url('img/services-4.png') no-repeat center;
	background-size: cover;
}
.service-item:nth-child(6) {
	width: 57%;
	background: url('img/services-5.png') no-repeat center;
	background-size: cover;
}
.service-item:nth-child(6) .service-item-bg { 
	padding-right: 190px;
}
.service-item:nth-child(1) {
	background: url('img/services-0.jpg') no-repeat center;
	background-size: cover;
}
.service-item:nth-child(2) {
	background: url('img/services-1.png') no-repeat center;
	background-size: cover;
}
.service-item:nth-child(3) {
	background: url('img/services-2.png') no-repeat center;
	background-size: cover;
}
.service-item:nth-child(4) {
	background: url('img/services-3.png') no-repeat center;
	background-size: cover;
}*/

.servises-list {
	display: grid;
	 grid-template-columns: repeat(7, 1fr);
	 grid-auto-rows:  minmax(250px, auto);
	 grid-gap: 15px;

	 color: #dadbdc;
}
.service-item {
	background-size: cover;
}
.service-item-bg {
	position: relative;
	height: 100%;
	padding: 150px 80px 60px 60px;
	background-color: rgba(20,20,20,0.6);
}
.service-item:nth-child(1) {
	grid-column: 1 / 5;
	background: url('img/services-0.jpg') no-repeat center;
}
.service-item:nth-child(2) {
	background: url('img/services-1.png') no-repeat center;
	grid-column: 5 / 8;
}
.service-item:nth-child(3) {
	background: url('img/services-2.png') no-repeat center;
	grid-column: 1 / 5;
}
.service-item:nth-child(4) {
	background: url('img/services-3.png') no-repeat center;
	grid-column: 5 / 8;
}
.service-item:nth-child(5) {
	background: url('img/services-4.png') no-repeat center;
	grid-column: 1 / 4;
}
.service-item:nth-child(6) {
	background: url('img/services-5.png') no-repeat center;
	grid-column: 4 / 8;
}


.service-item h4 {
	font-size: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #f7f7f7;
}
.service-item p {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 40px;
}
.service-item button {
	position: absolute;
	left: 62px;
	bottom: 55px;

	text-transform: uppercase;
	background-color: transparent;
	border: none;
	outline: none;
	color: #dadbdc;
	font-size: 18px;
	cursor: pointer;
}
.service-item button i {
	margin-left: 10px;
}
.service-item button:hover {

}

@media screen and (max-width: 900px) {
	.servises-list {
		grid-template-columns: 1fr 1fr;
	}
	.servises-list .service-item {
		grid-column: initial;
	}
	.servises-list .service-item-bg {
		padding: 60px 50px 40px 60px;
	}
	.service-item button {
		left: 62px;
		bottom: 35px;
		font-size: 16px;
	}
}
@media screen and (max-width: 600px) {
	.servises-list {
		grid-template-columns: 1fr;
	}
	.servises-list .service-item {
		grid-column: initial;
	}
	.servises-list .service-item-bg {
		padding: 60px 50px 40px 60px;
	}
	.service-item button {
		left: 62px;
		bottom: 35px;
		font-size: 16px;
	}
}

/*TEAM*/
.team {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.team-item {
	width: 32%;
	margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
	.team-item {
		width: 49%;
		margin-bottom: 12px;
	}
}
@media screen and (max-width: 600px) {
	.team {
		display: block;
	}
	.team-item {
		width: 80%;
		margin: 0 auto 20px;
	}
}

/*PERSONS*/
.persons-area {
	display: flex;
	justify-content: space-between;
}
.persons-area aside {
	width: 350px;
}
.cite-block {
	display: inline-block;
	width: 55%;
	padding: 100px 80px 65px;
	text-align:center;
	background-color: #eaebed;
	line-height: 27px;
}
.person {
	display: flex;
	justify-content: center;
	font-family: Merriweather, sans-serif;
	margin-bottom: 25px;
}
.name {
	font-size: 20px;
	font-weight: 700;
	margin-right: 8px;
}
.position {
	font-size: 15px;
	color: #999;
	font-style: italic;
}

@media screen and (max-width: 900px) {
	.cite-block { 
		padding: 40px 20px 35px;
	}
	.person {
		display: block;
	}
	.person span {
		display: none;
	}
}
@media screen and (max-width: 600px) {
	.persons-area {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.persons-area aside {
		width: 70%;
		margin-bottom: 30px;
	}
	.cite-block { 
		width: 90%;s
	}
}